@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
}

body {
  background-color: #2C3639;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #022a27;
}

::-webkit-scrollbar-thumb {
  background: #00ffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  width: 4px;
  background: #00ffff;
}

body,
p,
span,
button,
div,
section {
  font-family: "Epilogue", sans-serif;
  color: #eeeeee;
}

pre {
  background-color: rgb(30, 30, 30);
  padding: 1rem;
  border: 1px solid #00bcd4;
  margin-bottom: 1rem;
}

code {
  color: #b0bec5;
}

a {
  color: #03a9f4;
}

h1 {
  font-family: "Mona";
  font-size: 60px;
  font-weight: 500;
  color: #fff;
}

h2 {
  font-family: "Epilogue";
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #fff;
}

h3 {
  font-family: "Epilogue";
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

h4 {
  font-family: "Epilogue";
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #fff;
}

h5 {
  font-family: "Debodies";
  font-weight: 600;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
}

p,
span {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

strong {
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffffff;
}

.team-hex {
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
  background-color: #0a1013;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  background-color: #0a1013;

  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  background-color: #0a1013;

  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
  background-color: #0a1013;
}

.loading {
  filter: blur(10px);
  clip-path: inset(0);
}

.loaded {
  filter: blur(0px);
  transition: filter 0.5s linear;
}
